<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header><h1>search</h1></header>
    <main>
        <form action="/search" method="POST">
            <input type="text" name="name">
            <input type="text" name="value" id="">
            <input type="radio" name="typeo" value="intitle">
            <input type="radio" name="typeo" value="inauthor">
            <input type="submit">
        </form>
    </main>
    
</body>
</html>